@import './color', './text';

#NavBar .text-navbar-brand{
    font-family: $font-en2;
    font-weight: 500;
    font-size: 1.3rem;
}

@media (max-width: '320px'){
    #NavBar .text-navbar-brand{
        font-family: $font-en2;
        font-weight: 500;
        font-size: 1rem;
    }
}