@import './color', './text';

#NavBar .text-navbar-brand{
    font-family: $font-en;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
}

#NavBar .text-navbar-brand:hover{
    font-family: $font-en;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(75, 75, 75);
    text-decoration: none
}

#NavBar .row{
    margin-right: 0;
}

@media (max-width: '320px'){
    #NavBar .text-navbar-brand{
        font-family: $font-en2;
        font-weight: 500;
        font-size: 1rem;
    }
}

@media (max-width: '991px'){
    .navbar-toggler{
        float: right;
    }
}

.bg-btn-primary {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    color: white;
    font-family: $font-en;
}

.bg-btn-primary:hover {
    background-color: $primaryHoverColor;
    border: 1px solid $primaryHoverColor;
    color: white;
    font-family: $font-en;
}

.text-label {
    font-family: $font-en;
    font-size: 0.8rem;
    margin-bottom: -1rem;
    color: $HeaderColor;
    font-weight: 500;
}

.text-topic {
    font-family: $font-en;
    font-size: 0.8rem;
    color: $HeaderColor;
    font-weight: 600;
}

.text-input {
    font-family: $font-en;
    font-size: 0.8rem;
    font-weight: 400;
}

.line-border{
    border-bottom: 1px solid #c4c4c4;
    margin: 0.3rem 0 0.3rem 0;
}

.invalid-feedback{
    font-family: $font-en;
    font-size: 0.65rem;
    margin-bottom: -1rem;
    font-weight: 400;
}

.text-welcome{
    font-family: $font-en;
    font-size: 1rem;
    font-weight: 400;
    color: black !important;
}

.text-logout{
    color: $primaryColor
}

.text-:hover{
    color: $primaryHoverColor
}

.btn-booking{
    background-color: $bookingColor;
    border: 1px solid $bookingColor;
    color: white;
    font-family: $font-en;
}

.btn-booking:hover{
    background-color: $bookingHoverColor;
    border: 1px solid $bookingHoverColor;
    color: white;
    font-family: $font-en;
}

.btn-booking:hover{
    background-color: $bookingHoverColor;
    border: 1px solid $bookingHoverColor;
    color: white;
    font-family: $font-en;
}

.text-card-title{
    font-family: $font-en;
    color: $bookingColor;
    font-weight: 600;
}

.text-link-map{
    color: black;
}
.text-link-map:hover {
    color: rgb(107, 107, 107);
    text-decoration: none;
}

.size-img-hostel{
    width: 10rem;
    height: 350px;
    object-fit: cover;
}

.text-topic-hostel{
    font-family: $font-en;
    color: $bookingColor;
    font-weight: 600;
    font-size: 2rem;
}

.text-detail-hostel{
    font-family: $font-en;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

.text-detail-hostel-second{
    font-family: $font-en;
    color: black;
    font-weight: 400;
    font-size: 0.9rem;
}

.text-detail-hostel-price{
    font-family: $font-en;
    color: rgb(155, 49, 49);
    font-weight: 400;
    font-size: 1.9rem;
}